/* Estilo para a lista de promoções */
.promocoes__list {
    display: grid; /* Define um layout de grid para a lista de promoções */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Cria colunas que se ajustam automaticamente, com um mínimo de 300px e um máximo de 1 fração do espaço disponível */
    gap: 26.67px; /* Espaço entre os itens da grid */
    list-style-type: none; /* Remove os marcadores padrão da lista */
}

/* Estilo para a seção de promoções */
.promocoes {
    padding: 32px 12.5%; /* Espaço ao redor do conteúdo da seção */
}

/* Estilo para o título da seção de promoções */
.promocoes__titulo {
    font-size: 32px; /* Tamanho da fonte do título */
    line-height: 39px; /* Altura da linha do título */
    font-family: var(--fonte-titulo); /* Fonte do título usando uma variável CSS */
    color: var(--cor-texto-principal); /* Cor do texto do título usando uma variável CSS */
    margin-bottom: 32px; /* Espaço abaixo do título */
}

/* Estilo para cada item da lista de promoções */
.promocoes__list_item {
    box-shadow: 0px 4px 24px 0px #7B7B7B26; /* Aplica uma sombra ao redor do item para dar profundidade */
}

/* Estilo para as imagens dentro dos itens da lista de promoções */
.promocoes__list_item img {
    width: 100%; /* A imagem ocupa 100% da largura do contêiner do item */
    object-fit: contain; /* Mantém a proporção da imagem dentro do contêiner */
}

/* Estilo para a descrição de cada item da lista de promoções */
.promocoes__list_item_descricao {
    color: var(--cor-texto-principal); /* Cor do texto da descrição usando uma variável CSS */
    background-color: var(--cor-texto); /* Cor de fundo da descrição usando uma variável CSS */
    padding: 16px 24px; /* Espaço ao redor do conteúdo da descrição */
}

/* Estilo para o título dentro da descrição do item */
.promocoes__list_item_descricao h4 {
    font-size: 25px; /* Tamanho da fonte do título da descrição */
    line-height: 30px; /* Altura da linha do título da descrição */
    font-family: var(--fonte-titulo); /* Fonte do título da descrição usando uma variável CSS */
    font-weight: 700; /* Peso da fonte em negrito */
}

/* Estilo para o parágrafo dentro da descrição do item */
.promocoes__list_item_descricao p {
    font-size: 31px; /* Tamanho da fonte do parágrafo da descrição */
    line-height: 46.5px; /* Altura da linha do parágrafo da descrição */
    font-family: var(--fonte-texto); /* Fonte do parágrafo da descrição usando uma variável CSS */
    margin-top: 16px; /* Espaço acima do parágrafo */
    font-weight: 600; /* Peso da fonte do parágrafo */
}